<style>
.btn-custom {
    display: inline-block;
    border: none;
    color: #fff;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius:  15px 15px 15px 15px;
    -moz-border-radius:  15px 15px 15px 15px;
    font-family: Arial;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #f0000a;
}
</style>
@{
    ViewBag.Title = "TESTE NEOGRID";
    <div>
        <div style="background-image: linear-gradient(#00263c, #0019e0);display:inline-block; width:32%; height:100%"></div>
        <div style="background-image: linear-gradient(#00263c, #0019e0);color:#e2e2e2;display:inline-block; justify-content: center;align-items: center; width:auto; padding: 0px 15px 20px 15px">
            <div style="text-align: center">
                <h2>Teste Neogrid - Fernando Hideki Takenaka</h2>
            </div>
            <div style="text-align: center">
                <h2>OBTER O VALOR DOS JUROS</h2>
                <button onclick="Juros()" class="btn-custom" style="font-weight:700;">Buscar valor</button>
            </div>
            <div style="text-align: center">
                <br />
                <br />
                <br />
                <h2>OBTER O VALOR FINAL COM JUROS</h2>
                <h3>Capital inicial:</h3>
                <label style="font-size: 1.17em">R$ </label><input type="number" id="inicial" min="0"/>
                <br />
                <h3>Tempo (Em meses):</h3>
                <input type="number" id="meses" min="1"/>
                <br />
                <br />
                <button onclick="Calcular()" class="btn-custom" style="font-weight:700;">Calcular</button>
            </div>
            <div style="text-align: center">
                <br />
                <br />
                <br />
                <h2>Mostre-me o código</h2>
                <button onclick="Show()" class="btn-custom" style="font-weight:700;">Show me the code</button>
            </div>
        </div>
        <div style="background-image: linear-gradient(#00263c, rgba(0, 25, 224, 0.78));display:inline-block; width:auto;"></div>
    </div>
}
<script>
    function Juros() {
        var location = window.location;
        window.location = location.origin + '/Home/taxaJuros';
    }
    function Calcular() {
        if (document.getElementById("inicial").value == '' || document.getElementById("inicial").value == undefined) {
            alert("Digite o valor inicial.");
        }
        else if (document.getElementById("inicial").value < 0) {
            alert("O valor inicial não pode ser negativo.");
        }
        else if (document.getElementById("meses").value == '' || document.getElementById("meses").value == undefined) {
            alert("Digite o tempo em meses.");
        }
        else if (document.getElementById("meses").value < 1) {
            alert("O valor de tempo não pode ser inferior a 1.");
        }
        else {
            var location = window.location;
            window.location = location.origin + '/Home/calculajuros?inicial=' + document.getElementById("inicial").value + '&meses=' + document.getElementById("meses").value;
        }
    }
    function Show() {
        var location = window.location;
        window.location = location.origin + '/Home/showmethecode';
    }
</script>
